*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
}


header {
    background-color: var(--footercolor);
}

/*EXPERT TOT JE DIENST*/
main section:nth-of-type(1) {
    display: grid;
    grid-template-columns: 1fr 11em 1fr;
    grid-template-rows: 1fr 1fr 1fr;

}

main section:nth-of-type(1) img {
    width: 100%;
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: -1;
}


main section:nth-of-type(1) h1 {
    font-family: "roslindale-display";
    text-align: center;
    font-size: medium;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    align-self: end;
    z-index: 1;
}


main section:nth-of-type(1) p {
    font-family: "Obviously-Regular";
    text-align: center;
    font-size: small;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;

}

main section:nth-of-type(1) a {
    font-family: "Obviously-Regular";
    justify-content: center;
    font-size: small;
    font-size: 0.7em;
    color: var(--textcolor3);
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    justify-self: center;
    border: 2px solid var(--textcolor2);
    background-color: var(--textcolor2);
    height: 3em;
    border-radius: 2em;
    padding-bottom: 1em;
}

@media (min-width:57em) {

main section:nth-of-type(1) img {
	height: 50em;
    width: 100%;
}
}


/* Geanimeerde P*/
/*Geholpen door Viresh*/
body {
    background-color: #fcead8;
    margin: 0;
}

/* https://codepen.io/studiojvla/pen/qVbQqW?editors=1100 */
main>ul {
    display: flex;
    background-color: var(--footercolor);
    overflow-x: hidden;
    padding: 1.5em;
    margin: 0;
    text-wrap: nowrap;
    list-style-type: none;
}

/* spreekt de DIRECTE ul in de main aan */
main>ul li {
    /*   font-family: Obviously-Expanded; */
    animation: slide 5s linear infinite;
    white-space: nowrap;
    text-transform: uppercase;
}


/* slide animation */
@keyframes slide {
    0% {
        /* de li wat meer naar links laten starten zodat je de jump minder ziet */
        transform: translateX(-10%);
    }

    100% {
        transform: translateX(-70%);
    }

    /*Geholpen door Viresh*/
}



/*Section Mening Van Onze Experts*/
main section:nth-of-type(2) {
    background-color: var(--ulcolor);

}

h2 {
    margin: 0;
    justify-self: center;
    color: var(--colortext2);
    font-family: "obviously-narrow";
    font-size: small;
    padding-top: 3em;
    text-transform: uppercase;
}

main section:nth-of-type(2) p {
    margin: 0;
    font-family: "obviously-refular";
padding-inline: 1em;
}

/*go with the pros*/
main section:nth-of-type(2)>p {
    color: var(--textcolor2);
    justify-self: center;
    font-family: "obviously-super";
    font-size: 3.5em;
}


main section:nth-of-type(2) h3 {
align-self:  center;
    font-family: "roslindale-display";
    padding-left: 1em;
    padding-right: 1em;
}

main section:nth-of-type(2) ul {
    display: flex;
    overflow-x: scroll;
    scrollbar-width: thin;
    scrollbar-color: deeppink;
    gap: 1em;
    width: 100vw;
    height: 30em;
    padding: 4em
}

main section:nth-of-type(2) li {
    display: flex;
    flex-direction: column;
    border: 2em;
    background: var( --footercolor);
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
    width: 60%;
    height: 110%;
    
}

main section:nth-of-type(2) img {
    order: -1;
    border-top-right-radius: 0.10em;
    border-top-left-radius:  0.10em;

}

@media (min-width:57em) {

main section:nth-of-type(2) ul {
    height: 55em;
    padding: 9em
}

}


video {
    height: 45em;
    width: 100%;
    display: block;
    object-fit: cover;
}

/*HEB JE VRAGEN a*/
main section:nth-of-type(3) {
    background-color: var(--rozebacground-color);
    padding-bottom: 5em;
    padding-top: 1em;
}

main section:nth-of-type(3) details {
    border-radius: 2em;
    background: var(--color-background);
    margin: 0.6em;
    padding-bottom: 0.5em;
}

/*heb je vragen*/
main section:nth-of-type(3) h3 {
    font-family: "obviously-narrow";
    font-size: me;
    justify-self: center;
    padding-top: 2em;
}

main section:nth-of-type(3) p {
    justify-self: center;
    font-family: "obviously-regular";
    font-size: xx-small;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

/*veel gestelde vragen**/
main section:nth-of-type(3)>p {
    justify-self: center;
    font-family: "roslindale-display";
    font-size: xx-large;
}

main summary:nth-of-type(3) {
    gap:3em;
}

main section:nth-of-type(3) summary {
    font-family: "obviously-narrow";
    font-size: small;
}

@media (min-width:57em) {

    main section:nth-of-type(3) details {
        width: 60%;
        justify-self: center;

    }

    main section:nth-of-type(3) p {
        font-size: 3em;
        font-size: xx-small;
        padding-left: 1.5em;
        padding-right: 1.5em;
        
    }

    main section:nth-of-type(3)>p {
        justify-self: center;
        font-family: "roslindale-display";
        font-size: xx-large;
    }
}

/*************/
/*  Pijltje Styling*/
/*************/
summary {
    list-style: none;
    display: flex;
    padding: 10px;
    font-weight: bold;
    display: grid;
    grid-template-columns: 1fr max-content min-content;
    grid-column-start: 2;
    grid-column-end: 3;
}

main summary::after {
    content: '';
    grid-column-start: 3;
    grid-column-end: 4;
    /* display: block; */
    width: 0.9em;
    /* height: 3em; */
    background: url('https://uploads.sitepoint.com/wp-content/uploads/2023/10/1697699669arrow.svg') no-repeat;
    transition: 0.2s;
}

main details[open]>summary::after {
    transform: rotate(180deg);
}

main summary::-webkit-details-marker {
    display: none;
}

main summary:nth-of-type() header a:hover {
    color: var(--secondarycolor-background);
}

/*https://codepen.io/SitePoint/pen/gOqYGPZ*/


