/* :root {
	color-scheme: light dark;

	--backgroundcolor: light-dark(#fcead8, white);
	--backgroundcolor2: light-dark(#ffff, #fcead8);
	--buttoncolor: light-dark(black, #e6005c);
	--fontcolor: light-dark(black, #fc91dc);
	--h3color: light-dark(#e6005c, #ffff);
	--socialmediaicon: light-dark(black, #e6005c);
	--h2color:light-dark(black,#e6005c );
	--pcolor:light-dark(black,#ffff ); 
}  */


/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
	box-sizing: border-box;
	padding: 0;
}


/****************/
/* SECTION BENEFIT */
/****************/
section:nth-of-type(1) {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--background-color);
	padding-bottom: 2em;
}
section:nth-of-type(1) img {
	width: 100%;
	height: 25em;
}

h2 {
	font-family: "roslindale-display";
	text-align: center;
	font-size: xx-large;
}

section:nth-of-type(1) p {
	max-width: 47%;
	text-align: center
}

section:nth-of-type(1) a {
	font-family: "Obviously-Regular";
    justify-content: center;
    font-size: small;
    font-size: 0.7em;
    color: var( --textcolor3);
    justify-self: center;
    border: 2px solid var(--textcolor2);
    background-color: var(--textcolor2);
    height: 3em;
    border-radius: 2em;	
}






@media (min-width:57em) {
	section:nth-of-type(1){
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: max-content max-content max-content max-content max-content;
}
section:nth-of-type(1) h2{
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row: 2;
	align-self: end;
	margin: 0;
}

section:nth-of-type(1) p{
	grid-column-start: 2;
	grid-column-end: 1;
	justify-self: center;
	grid-row: 3;
	max-width: 60%;
	font-size: x-small;
}

section:nth-of-type(1) a{
	grid-column-start: 2;
	grid-column-end: 1;
	justify-self: center;
	grid-row: 4;
}

section:nth-of-type(1) img{
	grid-column-start: 2;
	grid-column-end: -1;
	grid-row: 1/-1;
	height: 100%;
}

}

/* Geanimeerde P*/
/*Geholpen door Viresh*/
body {
	margin: 0;
}

/* https://codepen.io/studiojvla/pen/qVbQqW?editors=1100 */
main>ul {
	display: flex;
	background-color: var(--color-background);
	overflow-x: hidden;
	padding: 1.5em;
	margin:0;
	text-wrap: nowrap;
	list-style-type: none;
}

/* spreekt de DIRECTE ul in de main aan */
main>ul li {
	/*   font-family: Obviously-Expanded; */
	animation: slide 5s linear infinite;
	white-space: nowrap;
}


/* slide animation */
@keyframes slide {
	0% {
		/* de li wat meer naar links laten starten zodat je de jump minder ziet */
		transform: translateX(-10%);
	}

	100% {
		transform: translateX(-70%);
	}

	/*Geholpen door Viresh*/
}

@media (min-width:57em) {
	main>ul {
		padding: 2.5em;
	}
}



/****************/
/* SECTION BESTELLERS */
/****************/

section:nth-of-type(2) {
	display: grid;
	grid-template-columns: 1fr 1fr;
	background-color: var(--footercolor);
}

section:nth-of-type(2) h3 {
	text-align: center;
	grid-column-start: 1;
	grid-column-end: 3;
	font-family: "obviously-narrow";
	text-transform: uppercase;
	font-size: small;
	color: var(--socialmediaicon-color);
	margin: 0;
	align-self: start;
	justify-content: center;
}

article:nth-of-type(1) h3 {
	color: var(--textcolor2);
}

article:nth-of-type(2) h3 {
	color: var(--textcolor2);
}

article:nth-of-type(3) h3 {
	color: var(--textcolor2);
}

article:nth-of-type(4) h3 {
	color: var(--textcolor2);
}

section:nth-of-type(2) p {
	text-align: center;
	grid-column-start: 1;
	grid-column-end: 3;
	font-family: "roslindale-display";
	font-size: x-large;
	justify-self: center;
}

section:nth-of-type(2) a {
	display: grid;
	grid-template-rows: 3fr 1fr;
	justify-items: center;
	align-items: center;
	font-size: xx-small;
	text-transform: uppercase;
}


section:nth-of-type(2) a img:nth-of-type(1) {
	justify-self: start;
}
section:nth-of-type(2) a:hover {
	text-decoration: underline;
}

section:nth-of-type(2) a img {
	grid-row-start: 1;
	grid-column-start: 1;
	/* max-height: 20em; */
}


article:nth-of-type(1) img {
	width: 65%;
}

article:nth-of-type(2) img {
	width: 65%;
}

article:nth-of-type(3) img {
	width: 65%;
}

article:nth-of-type(4) img {
	width: 65%;
}


/*Om images naar de achtergrond te verplaatsen */
section:nth-of-type(2) img:nth-of-type(1) {
	z-index: 1;
}

section:nth-of-type(2) a img:nth-of-type(2) {
	/*GEHOLPEN DOOR SANNE*/
	animation-name: draaien;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	/*oneindig draaien*/
	animation-timing-function: linear;
	/*constante snelheid*/
	animation-play-state: paused;
	/*animatie stil laten staan*/
}

section:nth-of-type(2) a:hover img:nth-of-type(2) {
	animation-play-state: running;
	/**doorgaan met afspelen*/
	/*GEHOLPEN DOOR SANNE*/
}

@keyframes draaien {
	0% {
		rotate: 0deg;
	}

	100% {
		rotate: 360deg;
	}

	/*GEHOLPEN DOOR SANNE*/
}



 @media (min-width:57em){ 
	section:nth-of-type(2) {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 3fr;
	padding-inline: 8em ;
	}
	
	section:nth-of-type(2) h3 {
	grid-row: 1;
	grid-column: 1/-1;
	align-self: end;
	}

	section:nth-of-type(2) article h3{
		grid-row: 2;
		align-self: start;
		
	}
	
	section:nth-of-type(2) p {
		grid-row: 2;
		grid-column: 1/-1;
		}
		
	} 