@font-face {
    font-family: "obviously-medium";
    src: url("../fonts/Obviously-Medium.woff2");
    font-weight: 300;
}

@font-face {
    font-family: "obviously-narrow";
    src: url("../fonts/Obviously-Narrow_Bold.woff2");
    font-weight: 400;
}

@font-face {
    font-family: "obviously-regular";
    src: url("../fonts/Obviously-Regular.woff2");
    font-weight: 400;
}

@font-face {
    font-family: "obviously-super";
    src: url("../fonts/Obviously-Super.woff2");
    font-weight: 400;
}

@font-face {
    font-family: "roslindale-display";
    src: url("../fonts/Roslindale-DisplayUltra.woff2");
    font-weight: 400;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
    color-scheme: light dark;

    --background-color: light-dark(#fcead8, black);
    --secondarycolor-background: light-dark(#ffffff, #ff0064);
    --button-color: light-dark(#000000, #ffb6c1);
    --color-background: light-dark(#ffffff, black);
    --rozebacground-color: light-dark(#fccad9, #ff4b9b);
    --tweedefooter: light-dark(#fcead8, black);
    --ulcolor: light-dark(#fccad9, black);

    --footer-color: light-dark(#fff4eb, #ff66a3);
    --footercolor: light-dark(#ffffff, #ff4b9b);
    --detailscolor: light-dark(#ff4b9b, black);
    --textcolor: #000000;
    --textcolor1: #ffffff;
    --textcolor3: light-dark(#ffffff, black);
    --textcolor2: light-dark(black, #ffffff);
    --colortext2: light-dark(#ff0064, #ff66a3);
    --bestellerscolor: light-dark(#ff0064, #ffffff);
    --button: light-dark(black, #ffffff);
    --deeppinkbackground-color: light-dark(#fc91dc, #a8006a);
    --socialmediaicon-background: light-dark(black, #ff0064);
}


/*************/
/* DE HEADER */
/*************/

header {
    z-index: 2;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    position: sticky;
    top: 0;
    align-items: center;
    background-color: var(--footercolor);
}

header h1 {
    justify-content: center;
    font-size: larger;
    font-weight: 200;
}

/*************/
/*menu img*/
/*************/
header img {
    width: 3em;
}

/*************/
/* Geholpen door Viresh */
/*************/
header button,
div nav button {
    background-color: inherit;
    border: none;
}

/*************/
/*memu button*/
/*************/
header button {
    order: -1;
    justify-self: start;
    padding-top: 1em;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: var(--footercolor);
    /* helemaal uit beeld Verplaatsen*/
    translate: -100%;
    transition: 2s;
}

div nav:nth-of-type(1) {
    margin-left: 1em;
    background-color: var(--footercolor);
}

div nav:nth-of-type(1) ul a {
    font-family: "obviously-narrow";
    font-size: 1.5em;
}

div nav:nth-of-type(2) {
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: var(--tweedefooter);
}


div nav:nth-of-type(2) ul a {
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding: 0;
}


div nav:nth-of-type(2) ul img {
    width: 40px;
    height: 40px;
    align-self: center;
}

div nav:nth-of-type(2) ul p {
    font-size: small;

}

/*************/
/*linkjes in de nav*/
/*************/
div ul:nth-of-type(1) {
    list-style: none;
    font-family: "Obviously-Narrow";
    font-size: small;
}

/*************/
/* als het menu open is*/
/*************/
div.toonMenu {
    translate: 0% 0%;
}

/*************/
/*als het menu open is*/
/*************/
div.is-open {
    translate: 0%;
}

/*************/
/*ALS DE BROWSER MINIMAAL 38EM BREED IS*/
/*************/
@media (min-width:38em) {
    header {
        grid-template-rows: min-content min-content;
    }

    header img {
        grid-column: 2;
        grid-row: 1;
        width: 9em;
        align-self: center;

    }

    header>button {
        display: none;
    }

    h1 {
        grid-column-start: 2;
        grid-column-end: 3;
    }

    div {
        display: contents;
        position: static;
        translate: 0;
        background: none;

    }

    div nav:nth-of-type(1) {
        grid-column-start: 1;
        grid-column-end: -1;
        justify-self: center;
        grid-row: 2;
    }

    div nav:nth-of-type(1) ul a {
        font-family: "obviously-regular";
        font-size: 0.8em;
    }

    div nav:nth-of-type(2) {
        grid-row: 1;
        grid-column: 1;
        justify-self: center;
        background-color: var(--textcolor1);
    }

    div nav:nth-of-type(2) a {
        display: flex;
        flex-direction: row;

    }

    div button {
        display: none;
    }

    div ul {
        display: flex;
        gap: 3.5em;
        list-style: none;
    }

    div a {
        border: none;
        flex-direction: column;
    }

    header>a:last-of-type {
        flex-direction: column;
    }
}

/*************/
/*Header als de browser minimaal 57em breed is*/
/*************/

@media (min-width:57em) {
    div nav:nth-of-type(1) ul a {
        font-family: "obviously-regular";
        font-size: 0.8em;
    }

    div nav:nth-of-type(2) ul img {
        width: 30px;
    }

    div nav:nth-of-type(2) ul p {
        font-size: 1.1em;
    }


}

/* Bron: https://codepen.io/ayaalnabelsi/pen/RNrPrWW */





footer {
    background-color: var(--background-color);
    padding: 1em;
    position: relative;
    display: grid;
    padding-bottom: 2em;
    text-align: center;
    text-decoration: none;
    background-color: gray !important;
  }
   
  /*Gebasseerd op etc*/
  footer p {
    font-size: x-small;
  }
   
  /*benefit img*/
  footer > img {
    width: 25%;
    justify-self: center;
    padding-top: 2em;
    padding-bottom: 1em;
  }
   
  /*************/
  /*WINKEL ZOEKEN&NEDERLAND*/
  /*************/
  a {
    font-size: x-small;
    font-family: "Obviously-Regular";
    text-decoration: none;
    color: var(--textcolor2);
    line-height: 2.5em;
  }
   
  /*Ruimte tussen a */
  details li a {
    line-height: 2.5em;
  }
   
  /*over & toegankelijkheid*/
  summary,
  footer > a {
    font-size: small;
    font-family: "Obviously-Narrow";
    text-transform: uppercase;
  }
   
  footer details:nth-of-type(1) a:hover {
    text-decoration: underline;
  }
   
  footer details:nth-of-type(2) a:hover {
    text-decoration: underline;
  }
   
  footer a:hover {
    text-decoration: underline;
  }
   
  /*************/
  /* OVER & TOEGANKELIJKHEID*/
  /*************/
  details summary {
    justify-content: center;
  }
   
  /*************/
  /* OVER */
  /*************/
  footer details ul {
    list-style: none;
  }
   
  /*************/
  /*SOCIAL MEDIA ICONS*/
  /*************/
  footer > ul:first-of-type {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 0.7em;
  }
   
  footer > ul:last-of-type svg {
    display: block;
    width: 3.5em;
  }
   
  button {
    background-color: inherit;
    border: none;
  }
   
  button:hover {
    text-decoration: underline;
  }
   
  /*Behandeling page*/
  /*HEB JE VRAGEN*/
  footer section:nth-of-type(1) {
    background-color: var(--rozebacground-color);
  }
   
  /*************/
  /*  Pijltje Styling*/
  /*************/
  summary {
    list-style: none;
    display: flex;
    padding: 10px;
    font-weight: bold;
    display: grid;
    grid-template-columns: 1fr max-content min-content;
    grid-column-start: 2;
    grid-column-end: 3;
  }
   
  footer summary::after {
    content: "";
    grid-column-start: 3;
    grid-column-end: 4;
    width: 0.9em;
    background: url("https://uploads.sitepoint.com/wp-content/uploads/2023/10/1697699669arrow.svg")
      no-repeat;
    transition: 0.2s;
  }
   
  footer details[open] > summary::after {
    transform: rotate(180deg);
  }
   
  /*https://codepen.io/SitePoint/pen/gOqYGPZ*/
  
   
  /* geen pijltjes in summary -----------------------------------------------------------------------------------------------------------*/
  @media (min-width: 900px) {
      footer details > summary::after {
          display: none;
      }
  }
   
  /*Nederland en logo*/
  footer li a {
    display: flex;
    justify-content: center;
    gap: 0.5em;
  }
   
  footer li a img {
    width: 1.5em;
  }
   
  footer li a p {
    font-family: "Obviously-Narrow";
    text-transform: uppercase;
    font-size: small;
  }
   
  li::marker {
    content: "";
  }
   
  /*content leeg maken geholpen door Viresh*/
   
  svg rect {
    fill: var(--socialmediaicon-background);
  }
   
  /*hiermee de kleur van de iconen verander*/
   
  @media (min-width: 57em) {
    footer {
      background-color: var(--background-color);
      padding: 10em;
      position: relative;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      padding-bottom: 20em;
      text-align: center;
      text-decoration: none;
    }
   
    /*Gebasseerd op etc*/
    footer p {
      grid-column: 1/-1;
      font-size: x-small;
    }
   
    /*benefit img*/
    footer > img {
      /* aangepast */
      grid-row: 2;
      grid-column: 1/-1;
      width: 18%;
      justify-self: center;
      padding-top: 3em;
      padding-bottom: 3em;
    }
   
    footer a {
      grid-row: 3;
      grid-column: 2/3;
    }
   
    footer a:nth-of-type(1) {
      align-self: start;
    }
   
    /*************/
    /*WINKEL ZOEKEN NEDERLAND*/
    /*************/
    a {
      font-size: x-small;
      font-family: "Obviously-Regular";
      text-decoration: none;
      color: var(--textcolor2);
      line-height: 2.5em;
    }
   
    /*Ruimte tussen a */
    details li a {
      line-height: 2.5em;
    }
   
    /*over & toegankelijkheid*/
    summary,
    footer > a {
      font-size: small;
      font-family: "Obviously-Narrow";
      text-transform: uppercase;
    }
   
    /*************/
    /* OVER & TOEGANKELIJKHEID*/
    /*************/
    details summary {
      justify-content: center;
    }
   
    /*************/
    /* OVER */
    /*************/
    footer details ul {
      list-style: none;
    }
   
    /*************/
    /*SOCIAL MEDIA ICONS*/
    /*************/
    footer > ul:first-of-type {
      display: flex;
      list-style: none;
      justify-content: center;
      gap: 0.7em;
    }
   
    footer > ul:last-of-type svg {
      display: block;
      width: 3.5em;
    }
   
    button {
      background-color: inherit;
      border: none;
    }
   
    button:hover {
      text-decoration: underline;
    }
   
    /*Behandeling page*/
    /*HEB JE VRAGEN*/
    footer section:nth-of-type(1) {
      background-color: var(--rozebacground-color);
    }
   
    /*************/
    /*  Pijltje Styling*/
    /*************/
    summary {
      list-style: none;
      display: flex;
      padding: 10px;
      font-weight: bold;
      display: grid;
      grid-template-columns: 1fr max-content min-content;
      grid-column-start: 2;
      grid-column-end: 3;
    }
   
    footer summary::after {
      content: "";
      grid-column-start: 3;
      grid-column-end: 4;
      width: 0.9em;
      background: url("https://uploads.sitepoint.com/wp-content/uploads/2023/10/1697699669arrow.svg")
        no-repeat;
      transition: 0.2s;
    }
   
    footer details[open] > summary::after {
      transform: rotate(180deg);
    }
   
    footer summary:nth-of-type() header a:hover {
      color: var(--secondarycolor-background);
    }
   
    /*https://codepen.io/SitePoint/pen/gOqYGPZ*/
   
    /*Nederland en logo*/
    footer a {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5em;
    }
   
    footer a img {
      width: 1.5em;
    }
   
    footer a p {
      font-family: "Obviously-Narrow";
      text-transform: uppercase;
      font-size: small;
    }
   
    li::marker {
      content: "";
    }
  }